* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p,
.t,
.v {
  border: 3px solid transparent;
  min-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  border-color: #ffffba;
}
img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  aspect-ratio: 16/8;
}
.t {
  border-color: #ffdfba;
}

.v {
  border-color: #baffc9;
}
